<head><script defer src="../static/main.js"></script></head>Html Webpack Plugin:
<pre>
  Error: Child compilation failed:
  Module not found: Error: Can't resolve 'C:\Users\LENOVO\OneDrive\Desktop\Engineering\Pacmann\Web-Dev\Projects\todo-app\  src\base_template.html' in 'C:\Users\LENOVO\OneDrive\Desktop\Engineering\Pacmann\Web-Dev\Projects\todo-app'
  ModuleNotFoundError: Module not found: Error: Can't resolve 'C:\Users\LENOVO\OneDrive\Desktop\Engineering\Pacmann\Web-D  ev\Projects\todo-app\src\base_template.html' in 'C:\Users\LENOVO\OneDrive\Desktop\Engineering\Pacmann\Web-Dev\Projects\  todo-app'
      at C:\Users\LENOVO\OneDrive\Desktop\Engineering\Pacmann\Web-Dev\Projects\todo-app\node_modules\webpack\lib\Compilat  ion.js:2022:28
      at C:\Users\LENOVO\OneDrive\Desktop\Engineering\Pacmann\Web-Dev\Projects\todo-app\node_modules\webpack\lib\NormalMo  duleFactory.js:817:13
      at eval (eval at create (C:\Users\LENOVO\OneDrive\Desktop\Engineering\Pacmann\Web-Dev\Projects\todo-app\node_module  s\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:10:1)
      at C:\Users\LENOVO\OneDrive\Desktop\Engineering\Pacmann\Web-Dev\Projects\todo-app\node_modules\webpack\lib\NormalMo  duleFactory.js:275:22
      at eval (eval at create (C:\Users\LENOVO\OneDrive\Desktop\Engineering\Pacmann\Web-Dev\Projects\todo-app\node_module  s\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:9:1)
      at C:\Users\LENOVO\OneDrive\Desktop\Engineering\Pacmann\Web-Dev\Projects\todo-app\node_modules\webpack\lib\NormalMo  duleFactory.js:448:22
      at C:\Users\LENOVO\OneDrive\Desktop\Engineering\Pacmann\Web-Dev\Projects\todo-app\node_modules\webpack\lib\NormalMo  duleFactory.js:118:11
      at C:\Users\LENOVO\OneDrive\Desktop\Engineering\Pacmann\Web-Dev\Projects\todo-app\node_modules\webpack\lib\NormalMo  duleFactory.js:689:25
      at C:\Users\LENOVO\OneDrive\Desktop\Engineering\Pacmann\Web-Dev\Projects\todo-app\node_modules\webpack\lib\NormalMo  duleFactory.js:893:8
      at C:\Users\LENOVO\OneDrive\Desktop\Engineering\Pacmann\Web-Dev\Projects\todo-app\node_modules\webpack\lib\NormalMo  duleFactory.js:1013:5
  
  - Compilation.js:2022 
    [todo-app]/[webpack]/lib/Compilation.js:2022:28
  
  - NormalModuleFactory.js:817 
    [todo-app]/[webpack]/lib/NormalModuleFactory.js:817:13
  
  
  - NormalModuleFactory.js:275 
    [todo-app]/[webpack]/lib/NormalModuleFactory.js:275:22
  
  
  - NormalModuleFactory.js:448 
    [todo-app]/[webpack]/lib/NormalModuleFactory.js:448:22
  
  - NormalModuleFactory.js:118 
    [todo-app]/[webpack]/lib/NormalModuleFactory.js:118:11
  
  - NormalModuleFactory.js:689 
    [todo-app]/[webpack]/lib/NormalModuleFactory.js:689:25
  
  - NormalModuleFactory.js:893 
    [todo-app]/[webpack]/lib/NormalModuleFactory.js:893:8
  
  - NormalModuleFactory.js:1013 
    [todo-app]/[webpack]/lib/NormalModuleFactory.js:1013:5
  
  - child-compiler.js:169 
    [todo-app]/[html-webpack-plugin]/lib/child-compiler.js:169:18
  
  - Compiler.js:551 finalCallback
    [todo-app]/[webpack]/lib/Compiler.js:551:5
  
  - Compiler.js:577 
    [todo-app]/[webpack]/lib/Compiler.js:577:11
  
  - Compiler.js:1199 
    [todo-app]/[webpack]/lib/Compiler.js:1199:17
  
  
  - Hook.js:18 Hook.CALL_ASYNC_DELEGATE [as _callAsync]
    [todo-app]/[tapable]/lib/Hook.js:18:14
  
  - Compiler.js:1195 
    [todo-app]/[webpack]/lib/Compiler.js:1195:33
  
  - Compilation.js:2795 finalCallback
    [todo-app]/[webpack]/lib/Compilation.js:2795:11
  
  - Compilation.js:3100 
    [todo-app]/[webpack]/lib/Compilation.js:3100:11
  
  
</pre>