<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static', filename='assets/favicon.ico')}}" type="image/x-icon">
    <title>
        {% block title %}

        {% endblock %}
    </title>
</head>

<body class="flex flex-col min-h-screen">
    <header id="header">
        {% block header %}

        {% endblock %}
    </header>
    <main id="content" class="flex-1">
        {% block content %}

        {% endblock %}
    </main>
    <footer id="footer" class="mt-8">
        {% block footer %}

        {% endblock %}
    </footer>
    </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>

</html>