<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}

        {% endblock %}
    </title>
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <a href="/">
                <!-- <img src="../src/assets/app/logo.png" alt="Logo TODO" width="64" /> -->
                LOGO
            </a>
        </div>
        <div class="links">
            <a href="/">Home</a>
            <a href="/profile">Profile</a>
        </div>
    </nav>
    <main>
        {% block content %}

        {% endblock %}
    </main>
    <footer id="footer">
        <h3 id="clock"></h3>
        <p>&copy; Pacmann 2023</p>
    </footer>
    </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>

</html>