{% extends "base.html" %}

{% block title %}
TODO - Home
{% endblock %}

{% block header %}
{% include "navbar.html" %}
{% endblock %}

{% block content %}
<button id="show-add-options"
    class="fixed bottom-10 right-12 w-10 h-10 rounded-full px-2 py-2 bg-violet-700 text-white shadow-[3px_5px_10px_rgba(0,0,0,0.3)] hover:bg-violet-900"
    title="Add Task">
    <i class="fa-solid fa-plus"></i>
</button>
<section id="project-menu" class="relative px-28 py-8">
    <div id="dropdown-project"
        class="flex justify-between items-center pr-8 py-4 bg-violet-700 text-white text-sm rounded-full shadow-[3px_5px_10px_rgba(0,0,0,0.3)] group cursor-pointer active:shadow-[inset_0_2px_5px_rgba(0,0,0,0.6)]">
        <div></div>
        <div class="flex gap-4 items-center">
            <i class="fa-solid fa-cubes fa-2xl"></i>
            <span class="text-3xl">Project A</span>
        </div>
        <div>
            <span id="dropdown-arrow" title="Choose your project" class="invisible group-hover:visible"><i
                    class="fa-solid fa-circle-chevron-down fa-2xl"></i></span>
        </div>
    </div>
    <div id="dropdown-project-items"
        class="absolute flex flex-col items-center mt-2 w-4/5 text-3xl bg-violet-700 text-white rounded-2xl cursor-pointer invisible">
        <span
            class="w-full text-center border-b border-solid border-violet-500 py-2 hover:bg-teal-600 hover:rounded-t-2xl">Project
            B</span>
        <span class="w-full text-center py-2 hover:bg-teal-600 hover:rounded-b-2xl">Project
            C</span>
    </div>
</section>
<section class="flex gap-16 justify-between px-28">
    <div id="todos-container" class="flex flex-col gap-4 items-center w-1/2">
        <h1 class="text-3xl text-violet-700 font-bold">Todo</h1>
        <span class="w-full h-px bg-violet-200"></span>
        <div id="todo-1"
            class="w-full pb-2 border border-solid border-violet-700 rounded-2xl shadow-[2px_2px_5px_rgba(0,0,0,0.3)] overflow-hidden">
            <div class="flex justify-between items-center px-4 py-2 bg-violet-700">
                <h1 id="title-1" class="flex-1 text-xl text-white font-semibold">Heading 1</h1>
                <span class="px-2 py-1 border border-solid border-white rounded-full">
                    <h3 id="pro-a" class="text-white text-sm">Project A</h3>
                </span>
            </div>
            <div class="px-4 py-2">
                <p id="desc-1" class="text-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
            <div class="flex justify-between px-4">
                <span>
                    <button id="edit-button"
                        class="px-2 py-px bg-teal-500 text-xs text-white rounded-lg shadow-[1px_1px_1px_rgba(0,0,0,0.3)]">Edit</button>
                    <button id="delete-button"
                        class="px-2 py-px bg-rose-600 text-xs text-white rounded-lg shadow-[1px_1px_1px_rgba(0,0,0,0.3)]">Delete</button>
                </span>
                <span>
                    <button title="Mark as done"
                        class="px-4 py-px bg-violet-700 text-xs text-white rounded-lg shadow-[1px_1px_1px_rgba(0,0,0,0.3)]">
                        <i class="fa-solid fa-check"></i>
                    </button>
                </span>
            </div>
        </div>
        <span class="w-full h-px bg-violet-200"></span>
        <div
            class="w-full pb-2 border border-solid border-violet-700 rounded-2xl shadow-[2px_2px_5px_rgba(0,0,0,0.3)] overflow-hidden">
            <div class="flex justify-between items-center px-4 py-2 bg-violet-700">
                <h1 class="flex-1 text-xl text-white font-semibold">Heading 2</h1>
                <span class="px-2 py-1 border border-solid border-white rounded-full">
                    <h3 class="text-white text-sm">Project A</h3>
                </span>
            </div>
            <div class="px-4 py-2">
                <p class="text-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore
                    et dolore magna aliqua.</p>
            </div>
            <div class="flex justify-between px-4">
                <span>
                    <button
                        class="px-2 py-px bg-teal-500 text-xs text-white rounded-lg shadow-[1px_1px_1px_rgba(0,0,0,0.3)]">Edit</button>
                    <button
                        class="px-2 py-px bg-rose-600 text-xs text-white rounded-lg shadow-[1px_1px_1px_rgba(0,0,0,0.3)]">Delete</button>
                </span>
                <span>
                    <button title="Mark as done"
                        class="px-4 py-px bg-violet-700 text-xs text-white rounded-lg shadow-[1px_1px_1px_rgba(0,0,0,0.3)]">
                        <i class="fa-solid fa-check"></i>
                    </button>
                </span>
            </div>
        </div>
        <span class="w-full h-px bg-violet-200"></span>
        <div
            class="w-full pb-2 border border-solid border-violet-700 rounded-2xl shadow-[2px_2px_5px_rgba(0,0,0,0.3)] overflow-hidden">
            <div class="flex justify-between items-center px-4 py-2 bg-violet-700">
                <h1 class="flex-1 text-xl text-white font-semibold">Heading 3</h1>
                <span class="px-2 py-1 border border-solid border-white rounded-full">
                    <h3 class="text-white text-sm">Project A</h3>
                </span>
            </div>
            <div class="px-4 py-2">
                <p class="text-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore
                    et dolore magna aliqua.</p>
            </div>
            <div class="flex justify-between px-4">
                <span>
                    <button
                        class="px-2 py-px bg-teal-500 text-xs text-white rounded-lg shadow-[1px_1px_1px_rgba(0,0,0,0.3)]">Edit</button>
                    <button
                        class="px-2 py-px bg-rose-600 text-xs text-white rounded-lg shadow-[1px_1px_1px_rgba(0,0,0,0.3)]">Delete</button>
                </span>
                <span>
                    <button title="Mark as done"
                        class="px-4 py-px bg-violet-700 text-xs text-white rounded-lg shadow-[1px_1px_1px_rgba(0,0,0,0.3)]">
                        <i class="fa-solid fa-check"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="flex flex-col gap-4 items-center w-1/2">
        <h1 class="text-3xl text-teal-600 font-bold">Done</h1>
        <span class="w-full h-px bg-teal-200"></span>
        <div
            class="w-full pb-2 border border-solid border-teal-600 rounded-2xl shadow-[2px_2px_5px_rgba(0,0,0,0.3)] overflow-hidden">
            <div class="flex justify-between items-center px-4 py-2 bg-teal-600">
                <h1 class="flex-1 text-xl text-white font-semibold">Heading 4</h1>
                <span class="px-2 py-1 border border-solid border-white rounded-full">
                    <h3 class="text-white text-sm">Project A</h3>
                </span>
            </div>
            <div class="px-4 py-2">
                <p class="text-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore
                    et dolore magna aliqua.</p>
            </div>
            <div class="flex justify-between px-4">
                <span>
                    <button
                        class="px-2 py-px bg-teal-500 text-xs text-white rounded-lg shadow-[1px_1px_1px_rgba(0,0,0,0.3)]">Edit</button>
                    <button
                        class="px-2 py-px bg-rose-600 text-xs text-white rounded-lg shadow-[1px_1px_1px_rgba(0,0,0,0.3)]">Delete</button>
                </span>
                <span>
                    <button title="Cancel"
                        class="px-4 py-px bg-teal-600 text-xs text-white rounded-lg shadow-[1px_1px_1px_rgba(0,0,0,0.3)]">
                        <i class="fa-solid fa-ban"></i>
                    </button>
                </span>
            </div>
        </div>
        <span class="w-full h-px bg-teal-200"></span>
        <div
            class="w-full pb-2 border border-solid border-teal-600 rounded-2xl shadow-[2px_2px_5px_rgba(0,0,0,0.3)] overflow-hidden">
            <div class="flex justify-between items-center px-4 py-2 bg-teal-600">
                <h1 class="flex-1 text-xl text-white font-semibold">Heading 5</h1>
                <span class="px-2 py-1 border border-solid border-white rounded-full">
                    <h3 class="text-white text-sm">Project A</h3>
                </span>
            </div>
            <div class="px-4 py-2">
                <p class="text-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore
                    et dolore magna aliqua.</p>
            </div>
            <div class="flex justify-between px-4">
                <span>
                    <button
                        class="px-2 py-px bg-teal-500 text-xs text-white rounded-lg shadow-[1px_1px_1px_rgba(0,0,0,0.3)]">Edit</button>
                    <button
                        class="px-2 py-px bg-rose-600 text-xs text-white rounded-lg shadow-[1px_1px_1px_rgba(0,0,0,0.3)]">Delete</button>
                </span>
                <span>
                    <button title="Cancel"
                        class="px-4 py-px bg-teal-600 text-xs text-white rounded-lg shadow-[1px_1px_1px_rgba(0,0,0,0.3)]">
                        <i class="fa-solid fa-ban"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
</section>
<div id="add-options"
    class="fixed flex gap-16 justify-center items-center left-0 right-0 bottom-0 py-4 bg-white rounded-t-full transition-transform duration-300 translate-y-full">
    <button type="button" id="show-button" class="px-4 py- 1 border border-solid border-violet-700 bg-white rounded-lg">
        <i class="fa-sharp fa-solid fa-bars-progress text-violet-700"></i>
        <span class="ml-2 text-lg text-violet-700 font-medium">Add Task</span>
    </button>
    <img src="{{url_for('static', filename='assets/logo-carved.png')}}" alt="Logo" class="h-8">
    <button type="button" id="show-add-project"
        class="px-4 py- 1 bg-white border border-solid border-teal-700 rounded-lg">
        <i class="fa-solid fa-cubes text-teal-700"></i>
        <span class="ml-2 text-lg text-teal-700 font-medium">Add Project</span>
    </button>
</div>

{% include "add-task.html" %}
{% include "edit-task.html" %}
{% include "delete-task.html" %}
{% include "add-project.html" %}

{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}