{% extends 'base.html' %}

{% block title %}
TODO - Login
{% endblock %}

{% block content %}
<section class="flex">
    <div class="sidebar">
        <img src="{{url_for('static', filename='assets/text-logo-white.svg')}}" alt="Text Logo White"
            class="w-32 drop-shadow-lg" />
        <p class="text-white text-4xl text-center font-medium">A Simple Todo App</p>
    </div>
    <div class="flex-1 flex flex-col gap-8 justify-center items-center">
        <img src="{{url_for('static', filename='assets/logo.png')}}" alt="Logo" class="w-32 drop-shadow-2xl">
        <h1 class="text-4xl font-bold text-violet-700">LOGIN</h1>
        <form action="/" id="form" class="flex flex-col gap-4">
            <label for="email">
                <h6 class="text-violet-700">Email Address</h6>
                <input type="email" name="email" id="email" title="Email Address"
                    placeholder="Masukkan alamat email Anda..."
                    class="block border-b border-slate-500 focus:border-slate-900 w-full text-xs focus:outline-none border-solid placeholder:text-slate-400 placeholder:text-xs">
            </label>
            <label for="password">
                <h6 class="text-violet-700">Password</h6>
                <input type="password" name="password" id="password" title="Password"
                    placeholder="Masukkan password Anda..."
                    class="block border-b border-slate-500 focus:border-slate-900 w-full text-xs focus:outline-none border-solid placeholder:text-slate-400 placeholder:text-xs">
            </label>
            <p class="text-right">Not a user? <a href="/public/register.html"
                    class="font-semibold text-violet-700">Register</a>
            </p>
            <input type="submit" value="LOGIN" class="w-full py-1 bg-violet-700 text-white rounded-full">
        </form>
    </div>
</section>
{% endblock %}