<nav class="flex justify-between items-center w-screen px-28 py-4 bg-navbar bg-cover bg-center bg-no-repeat text-white">
  <div class="flex gap-2">
    <a href="/"><img src="{{url_for('static', filename='assets/logo.png')}}" alt="Logo" class="h-8"></a>
    <a href="/"><img src="{{url_for('static', filename='assets/text-logo-white.svg')}}" alt="Text Logo" class="h-8"></a>
  </div>
  <div class="flex gap-4">
    <a href="/" title="Go to homepage" class="hover:text-teal-500">Home</a>
    <a href="/profile" title="View profile" class="hover:text-teal-500">Profile</a>
  </div>
</nav>