<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <!-- Stylesheet to reset the default browser styling -->
    <link rel="stylesheet" href="../src/normalize.css">
    <!-- The actual stylesheet to style the HTML elements -->
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <h3>Navbar</h3>
        </div>
        <div class="links">
            <a href="/">Home</a>
            <a href="/profile">Profile</a>
        </div>
        <div class="hidden-menu">
            <div class="hamburger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
    </nav>
    <main class="container register-container">
        <h1 class="login-title">Registration Page</h1>
        <form action="/" class="form">
            <label for="name">
                Full Name
                <input type="text" name="name" id="name" title="Full Name" placeholder="Input your name..."
                    class="input-field">
            </label>
            <label for="email">
                Email Address
                <input type="email" name="email" id="email" title="Email Address" placeholder="Input your email..."
                    class="input-field">
            </label>
            <label for="password">
                Password
                <input type="password" name="password" id="password" title="Alamat Email"
                    placeholder="Input your password..." class="input-field">
            </label>
            <label for="confirm-password">
                Confirm Password
                <input type="password" name="confirm-password" id="confirm-password" title="Confirm Password"
                    placeholder="Confirm your password..." class="input-field">
            </label>
            <input type="submit" value="Submit" class="submit-btn">
        </form>
    </main>
    <footer></footer>
    <script src="../src/main.js"></script>
</body>

</html>