{% extends "base.html" %}

{% block title %}
Selamat datang di TODO
{% endblock %}

{% block content %}
<div id="welcome-page">
    <div id="background-container"></div>
    <div id="logo-container">
        <div id="image-container">
            <img src="{{url_for('static', filename='assets/logo.png')}}" alt="Logo" id="logo">
            <img src="{{url_for('static', filename='assets/text-logo.svg')}}" alt="Text Logo" id="text-logo">
        </div>
        <h3>A Simple Todo App</h3>
    </div>
    <div id="loading-container"></div>
</div>
{% endblock %}