<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Favicon -->
    <!-- <link rel="shortcut icon" href="../src/assets/app/favicon.ico" type="image/x-icon"> -->
</head>

<body>
    <!-- Welcome Screen -->
    <div id="welcome">
        <!-- <img src="../src/assets/app/logo.png" alt="Logo TODO" id="logo" /> -->
        <div class="progress-bar">
            <div class="progress"></div>
        </div>
    </div>

    <!-- Homepage -->
    <div id="homepage">
        <header>
            <nav class="navbar">
                <div class="logo">
                    <a href="/">
                        <!-- <img src="../src/assets/app/logo.png" alt="Logo TODO" width="64" /> -->
                        LOGO
                    </a>
                </div>
                <div class="links">
                    <a href="/">Home</a>
                    <a href="/profile">Profile</a>
                </div>
            </nav>
            <h1>Todo App</h1>
        </header>
        <main></main>
        <footer id="footer">
            <h3 id="clock"></h3>
            <p>&copy; Pacmann 2023</p>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>

</html>