<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO - Login</title>
    <!-- Stylesheet to reset the default browser styling -->
    <link rel="stylesheet" href="../src/normalize.css">
    <!-- The actual stylesheet to style the HTML elements -->
    <link rel="stylesheet" href="style.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="../src/assets/app/favicon.ico" type="image/x-icon">
</head>

<body>
    <main id="form-container">
        <div id="sidebar">
            <img src="../src/assets/app/logo-white.png" alt="Logo TODO" width="225" />
            <p id="site-description">a simple todo app</p>
        </div>
        <div id="login-container">
            <h1>LOGIN</h1>
            <form action="/" id="form">
                <label for="email">
                    Email Address
                    <input type="email" name="email" id="email" title="Email Address"
                        placeholder="Masukkan alamat email Anda..." class="input-field">
                </label>
                <label for="password">
                    Password
                    <input type="password" name="password" id="password" title="Password"
                        placeholder="Masukkan password Anda..." class="input-field">
                </label>
                <p id="register-suggestion">Not a user? <a href="/public/register.html"><strong>Register</strong></a>
                </p>
                <input type="submit" value="LOGIN" class="submit-btn">
            </form>
        </div>
    </main>
    <script src="../src/index.js"></script>
</body>

</html>